{% load static %}
<!Doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale= 1.0">
    <meta content="" name="keywords">
    <title>Job Categories</title>
    <meta content="" name="description">


    <!-- Favicons -->
    <link href="{% static 'img/1.png' %}" rel="icon">
    <link href="{% static 'img/1.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
   
</head>
<body>
    <div class="unit-5 overlay" style="image-resolution: 800;
        background-color: #2b3032a1;
        background-blend-mode: multiply;
        background-size: cover;
        background-image: url('{% static '/images/form-back1.jpg'%}');">
        <div class="container text-center">
            <h2 style="color:white; text-shadow:1px 1px black" class="mb-0">Job Categories</h2>
            <p class="mb-0 unit-6"><a style="color:white;" href="/home">Home</a> <span style="color:black;" class="sep">></span> <span style="color:white;">Job Categories</span></p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card card-body">
                <form method="GET">

                    {{myFilter.form}}
                    <button class="btn btn-primary" type="submit"> 
                        Search
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% for i in  object%}
    <div style="margin-left:20px; margin-top:20px;" class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 style="font-weight:500; font-size: 25px; text-shadow: 1px 1px black;" class="card-title"><i class="fas fa-user-tie"></i>  {{i.job_title}}</h5>
            <h6 style="font-weight:500; font-size: 20px;" class="card-subtitle mb-2 text-muted"><i class="fas fa-industry"></i>  {{i.company_name}} <hr /></h6>
            <h6 style="font-weight:500; font-size: 20px;" class="card-subtitle mb-2 text-muted"><i class="fas fa-map-marker-alt"></i>  {{i.location}}</h6>
            <h6 style="font-weight:500; font-size: 15px;" class="card-subtitle mb-2 text-muted"><i class="fas fa-business-time"></i>   {{i.job_type}}</h6>
            <a href="User_Signup" class="btn btn-outline-success">Apply</a>
        </div>
    </div>
    {% endfor %}
    <footer id="footer">
        <div class="footer-top">
            <div class="container">

            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Molly</strong>. All Rights Reserved
            </div>
        </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
    <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>

    <!-- Contact Form JavaScript File -->
    <script src="{% static 'contactform.js' %}"></script>

    <script src="{% static 'js/home.js' %}"></script>

    <!-- Font Awesome CDN -->
    <script src="https://kit.fontawesome.com/43528f0353.js"></script>

</body>

</html>