{% load static %}
<!Doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale= 1.0">
    <meta content="" name="keywords">
    <title>Post Jobs</title>
    <meta content="" name="description">
    

    <!-- Favicons -->
    <link href="{% static 'img/1.png' %}" rel="icon">
    <link href="{% static 'img/1.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>


<body style="background-color: #2b3032a1;
      background-blend-mode: multiply;
      background-size: cover;
      image-resolution: 800;
      background-image: url('{% static '/images/form-back1.jpg'%}');
      ">
    


    <div class="unit-5 overlay" style="background-image: url('images/hero_1.jpg');">
        <div class="container text-center">
            <h2 style="color:white; text-shadow:1px 1px black" class="mb-0">Post a Job</h2>
            <p class="mb-0 unit-6"><a href="/home">Home</a> <span class="sep">></span> <span style="color:white;">Post a Job</spanstyle="color:white;"></p>
        </div>
    </div>

    <div style="height: 15px;"></div>


    <div class="site-section bg-light">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-lg-8 mb-5">



                    <form method="POST" action="postjob" enctype="multipart/form-data" class="p-5 bg-white">

                        {% csrf_token %}
                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class=" font-weight-bold" for="fullname">Job Title</label>
                                <select class = "form-control" id ="job_title">
                                    <option value = "default">select job</option>
                                    {% for job in joblist %}
                                        <option value = "{{ job.id }}">{{ job.job_title }}</option>   
                                    {% endfor %}                         
                                </select>


                                <!-- <div class="dropdown">
                                    <button class="form-control dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                       {% for job in joblist %}
                                           <a class="dropdown-item" href="#">{{ job.job_title }}</a>
                                       {% endfor %} 
                                                                            
                                    </div>
                                  </div> -->
                                <!-- <input type="text" id="fullname" name="job_title" class="form-control" placeholder="Select A Job" required> -->
                            </div>
                        </div>

                        <div class="row form-group mb-5">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="font-weight-bold" for="fullname">Company</label>
                                <input type="text" id="fullname" name="company_name" class="form-control" placeholder="eg. Facebook, Inc." required>
                            </div>
                        </div>


                        <div class="row form-group">
                            <div class="col-md-12"><h3>Job Type</h3></div>
                            <div class="row form-group mb-4">

                                <div class="col-md-12 mb-3 mb-md-0">
                                    <input style="margin-left:15px;" type="text" class="form-control" name="job_type" placeholder="Full Time/Part Time/FreeLancer/Internship/Temporary" required>
                                </div>
                            </div>


                        </div>

                        <div class="row form-group mb-4">
                            <div class="col-md-12"><h3>Location</h3></div>
                            <div class="col-md-12 mb-3 mb-md-0">
                                <input type="text" class="form-control" name="location" placeholder="Surat, Gujarat" required>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12"><h3>Job Description</h3></div>
                            <div class="col-md-12 mb-3 mb-md-0">
                                <textarea class="form-control" name="job_description" cols="30" rows="5" required></textarea>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12"><h3>Qualification</h3></div>
                            <div class="col-md-12 mb-3 mb-md-0">
                                <textarea class="form-control" name="Qualifications" cols="30" rows="5" required></textarea>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12"><h3>Additional Information</h3></div>
                            <div class="col-md-12 mb-3 mb-md-0">
                                <textarea class="form-control" name="additional_info" cols="30" rows="5"></textarea>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Post a Job" name="postjob" class="btn btn-primary  py-2 px-5">
                            </div>
                        </div>


                    </form>
                </div>

                <div class="col-lg-4">
                    <div class="p-4 mb-3 bg-white">
                        <h3 class="h5 text-black mb-3">Contact Info</h3>
                        <p class="mb-0 font-weight-bold">Address</p>
                        <p class="mb-4">S.S.A.I.E.T, Viranjali Marg, Gandevi Road, Navsari-396445</p>

                        <p class="mb-0 font-weight-bold">Phone</p>
                        <p class="mb-4"><a href="#">+91 7895575565</a></p>

                        <p class="mb-0 font-weight-bold">Email Address</p>
                        <p class="mb-0"><a href="#">2bherwani@gmail.com</a></p>

                    </div>

                    <div class="p-4 mb-3 bg-white">
                        <h3 class="h5 text-black mb-3">More Info</h3>
                        <p>
                            We are team of developers created this AI bot that solves all your hiring process, With Molly you can find suitable candidates for your compnany. We are team of developers created this AI bot that solves all your hiring process, With Molly you can find suitable candidates for your compnany.
                        </p>

                    </div>
                </div>

            </div>
            <div class="py-5 quick-contact-info">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div>
                                <h2><span class="icon-room"></span> Location</h2>
                                <p class="mb-0">S.S.A.I.E.T, Viranjali Marg, Gandevi Road, Navsari-396445</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <h2><span class="icon-clock-o"></span> Service Times</h2>
                                <p class="mb-0">
                                    We Are Here 24/7/365 For You.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h2><span class="icon-comments"></span> Get In Touch</h2>
                            <p class="mb-0">
                                Email: 2bherwani@gmail.com <br>
                                Phone: +91-7874279397
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>




    <footer id="footer">
        <div class="footer-top">
            <div class="container">

            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Molly</strong>. All Rights Reserved
            </div>
        </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
    <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>

    <!-- Contact Form JavaScript File -->
    <script src="{% static 'contactform.js' %}"></script>

    <script src="{% static 'js/home.js' %}"></script>

</body>

</html>
