{% load static %}

<!DOCTYPE html>


<html>
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>SignIn</title>

    <!-- Custom StyleSheet -->
    <link rel="stylesheet" href="{% static 'css/signin.css' %}" />

    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    <!--==============================================================================================-->

    <!-- Website Icon-->
    <link href="{% static 'img/1.png' %}" rel="icon">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <style>

        #bg{
            position: absolute;
            background-size: cover ;
            background-color: #818181;
            background-blend-mode: multiply;
            background-image: url('{% static "/img/signinback.jpg"%}');
            height: 100%;
            width: 100%;
            filter: blur(5px);
            -webkit-filter: blur(5px);
        }
        .login_style{
            color: #ffffff;
        }
        
    </style>
</head>

    <body>
         
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <!-- Login form creation starts-->

        
       
        <div id="bg"></div>
        <div class="time" style="display: flex; justify-content:center;">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>
                    <div class = "alert alert-success"> {{ message }}</div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <section class="container-fluid" >
            <!-- row and justify-content-center class is used to place the form in center -->
            <section class="row justify-content-center">
                <section class="col-12 col-sm-6 col-md-4">
                    <button type="button" class="close" aria-label="Close">
                        <span style="margin-right:5px; " aria-hidden="true"><a href="home" style="color: #ffffff;">&times;</a></span>
                    </button>
                    <form class="form-container" method="POST" action="signin" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <h4 class="text-center login_style"> Login </h4>
                           
                            <label class="label-input100 login_style" for="InputEmail1">Enter Company Name </label>
                            <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                                <input id="InputEmail1" class="input100" type="text" name="company_name" placeholder="<here>" required>
                                <span class="focus-input100"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label-input100 login_style" for="InputPassword1">Enter Your Password</label>
                            <div class="wrap-input100">
                                <input id="InputPassword1" class="input100" type="password" name="password" placeholder="<here>" required>
                                <span class="focus-input100"></span>
                            </div>
                        </div>
                        <div class="container-contact100-form-btn">
                            <button type="submit" class="contact100-form-btn" name="button">
                                Submit
                            </button>
        
                        </div>
                        <div class="form-footer"><hr>
                            <p class="text-center login_style"> Don't have an account? <a href="/signup">Sign Up</a></p>

                        </div>

                    </form>
                </section>
            </section>
        </section>
        <!-- Login form creation ends -->

        <script src="{% static 'js/timeout.js' %}"></script>
    </body>
</html>




